name: Deploy AWS S3

on:
  workflow_call:
    secrets:
      access_key:
        required: true
      secret_key:
        required: true
      bucket_react:
        required: true
jobs:
  deploy:
    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: ./dist

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
            aws-access-key-id: ${{ secrets.access_key }}
            aws-secret-access-key: ${{ secrets.secret_key }}
            aws-region: us-east-1

      - name: Deploy to S3
        run: aws s3 sync ./dist s3://${{ secrets.bucket_react }} --recursive
